@model CadastroEstabelecimentos.Models.Estabelecimento
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar</h1>
<form asp-action="Editar">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="RazaoSocial" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-4">
            <input asp-for="RazaoSocial" class="form-control" />
            <span asp-validation-for="RazaoSocial" class="text-danger"></span>
        </div>
    </div>


    <div class="form-group">
        <label asp-for="NomeFantasia" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-4">
            <input width="100" asp-for="NomeFantasia" class="form-control" />
            <span asp-validation-for="NomeFantasia" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="CNPJ" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-4">
            <input id="cnpj" asp-for="CNPJ" class="form-control" />
            <span asp-validation-for="CNPJ" class="text-danger"></span>
        </div>
    </div>


    <div class="form-group">
        <label asp-for="Email" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-4">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>



    <div class="form-group">
        <label asp-for="Endereco" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-4">
            <input asp-for="Endereco" class="form-control" />
            <span asp-validation-for="Endereco" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Cidade" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-4">
            <input  asp-for="Cidade" class="form-control" />
            <span asp-validation-for="Cidade" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Estado" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-4">
            <input asp-for="Estado" class="form-control" />
            <span asp-validation-for="Estado" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Telefone" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-4">
            <input id="telefone" asp-for="Telefone" class="form-control" />
            <span asp-validation-for="Telefone" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Categoria" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-4">
            <select asp-for="Categoria" class="form-control">
                <option value="">--Categoria--</option>
                <option value="Borracharia">Borracharia</option>
                <option value="Oficina">Oficina</option>
                <option value="Posto">Posto</option>
                <option value="Restaurante">Restaurante</option>
                <option value="Supermercado">Supermercado</option>
            </select>
            <span asp-validation-for="Categoria" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Status" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-4">
            <select asp-for="Status" class="form-control">
                <option value="">--Status--</option>
                <option value="Ativo">Ativo</option>
                <option value="Inativo">Inativo</option>
            </select>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Agencia" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-4">
            <input id="agencia" asp-for="Agencia" class="form-control" />
            <span asp-validation-for="Agencia" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Conta" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-4">
            <input id="conta" asp-for="Conta" class="form-control" />
            <span asp-validation-for="Conta" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-success" />
    </div>
</form>
<div>
    <a asp-action="Index" class="btn btn-primary">Voltar</a>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $("#cnpj").mask('99.999.999/9999-99');
            $("#telefone").mask('(99)99999-9999');
            $("#agencia").mask('999-9');
            $("#conta").mask('99.999-9');
        });
    </script>
}
